/* line 1, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/base/_base.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/base/_base.scss */
body {
  margin: 0;
  background-color: #fff;
}

/* line 9, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/base/_base.scss */
a:link {
  text-decoration: none;
}

/* line 21, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/base/_base.scss */
.footer {
  background-color: #333645;
}

/* line 24, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/base/_base.scss */
/*div {
  border: 1px solid red;
}*/

/* line 27, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/base/_base.scss */
ul {
  list-style-type: none;
}

/* line 31, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/base/_base.scss */
.btn {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
}

/* line 1, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_footer.scss */
.f--container {
  color: #fff;
  padding: 30px 0 30px 0;
  margin-left: 10vw;
  margin-right: 10vw;
}

/* line 7, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_footer.scss */
.f--container a {
  color: #fff;
  list-style-type: none;
}

/* line 11, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_footer.scss */
.f--container ul {
  list-style-type: none;
}

/* line 15, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_footer.scss */
.footer--top, .services, .offices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* line 19, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_footer.scss */
.footer--top .service, .footer--top .office, .services .service, .services .office, .offices .service, .offices .office {
  width: 225px;
  margin-bottom: 30px;
}

/* line 22, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_footer.scss */
.footer--top .service ul, .footer--top .office ul, .services .service ul, .services .office ul, .offices .service ul, .offices .office ul {
  margin: 0;
  padding: 0;
}

/* line 28, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_footer.scss */
.footer--bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #888;
  padding-top: 10px;
}

/* line 34, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_footer.scss */
.footer--bottom .license {
  display: flex;
  justify-content: space-between;
}

/* line 37, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_footer.scss */
.footer--bottom .license ul {
  margin: 0;
  padding-left: 10px;
}

/* line 42, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_footer.scss */
.footer--bottom .social--media {
  display: flex;
}

/* line 44, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_footer.scss */
.footer--bottom .social--media a {
  padding: 5px 8px 8px;
}

/* line 1, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_header.scss */
.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px 0;
}

/* line 7, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_header.scss */
.header .header-top {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

/* line 11, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_header.scss */
.header .header-top img {
  max-width: 100%;
  height: auto;
}

/* line 8, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_main.scss */
.welcome {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  background-color: #333645;
  color: #FFFFFF;
  padding: 50px 15px 50px 15px;
}

/* line 16, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_main.scss */
.welcome .w-block {
  max-width: 100%;
  height: auto;
  padding: 50px;
}

/* line 23, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_main.scss */
.partners-slideshow {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

/* line 32, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_main.scss */
.news-articles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 38, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_main.scss */
.news-articles .news-block {
  margin-top: 30px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 30px;
}

/* line 45, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_main.scss */
.news-articles .news-block img {
  width: 100%;
  height: auto;
}

/* line 49, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_main.scss */
.news-articles .news-block p, .news-articles .news-block button, .news-articles .news-block h1 {
  padding: 0 15px 0 15px;
}

/* line 52, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_main.scss */
.news-articles .news-block .user {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #ccc;
}

/* line 58, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_main.scss */
.news-articles .news-block .user .avatar {
  width: 47px;
  height: 47px;
}

/* line 62, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_main.scss */
.news-articles .news-block .user .details {
  padding: 0 15px 0 15px;
}

/* line 68, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_main.scss */
.container-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* line 74, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_main.scss */
.service-block-3, .service-block-3 {
  width: 90vw;
  margin-top: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: yellow;
  padding: 15px;
  text-align: center;
}

/* line 1, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_banner.scss */
.banner {
  display: flex;
  flex-wrap: wrap;
}

/* line 4, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_banner.scss */
.banner .banner-img {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

/* line 8, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_banner.scss */
.banner .banner-img img {
  width: 100%;
  height: 80vh;
  align-items: center;
  object-fit: cover;
  filter: brightness(50%);
}

/* line 17, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_banner.scss */
.txt {
  position: absolute;
  width: 100%;
  top: 50%;
}

/* line 21, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_banner.scss */
.txt p, .txt h1 {
  color: white;
  text-align: center;
}

/* line 25, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_banner.scss */
.txt .btn {
  border-radius: 3%;
  background-color: #d64541;
  color: white;
  line-height: 35px;
  text-transform: uppercase;
  padding: 10px 20px 10px 20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
  /* line 3, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_mediaq.scss */
  .clients-list {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* line 10, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_mediaq.scss */
  .clients-list {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* line 17, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_mediaq.scss */
  .clients-list {
    display: flex;
    justify-content: center;
  }
  /* line 20, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_mediaq.scss */
  .clients-list img {
    width: 100%;
    height: auto;
    padding: 5px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* line 31, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_mediaq.scss */
  .clients-list {
    display: flex;
    justify-content: center;
  }
  /* line 34, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_mediaq.scss */
  .clients-list img {
    width: 100%;
    height: auto;
    padding: 5px;
  }
  /* line 40, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_mediaq.scss */
  .welcome {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  /* line 45, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_mediaq.scss */
  .welcome .w-block {
    max-width: 40vw;
    padding: 50px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* line 53, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_mediaq.scss */
  .clients-list {
    display: flex;
    justify-content: center;
  }
  /* line 56, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_mediaq.scss */
  .clients-list img {
    width: 100%;
    height: auto;
    padding: 5px;
  }
  /* line 62, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_mediaq.scss */
  .welcome {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  /* line 67, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_mediaq.scss */
  .welcome .w-block {
    max-width: 40vw;
    padding: 50px;
  }
  /* line 72, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_mediaq.scss */
  .l-news-main {
    display: flex;
    flex-wrap: wrap;
  }
  /* line 75, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_mediaq.scss */
  .l-news-main .news-block {
    max-width: 100px;
    height: auto;
  }
  /* line 81, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_mediaq.scss */
  .service-block-3 {
    width: 30vw;
    margin-top: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: yellow;
    padding: 15px;
    text-align: center;
  }
  /* line 90, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_mediaq.scss */
  .service-block-4 {
    width: 20vw;
    margin-top: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: yellow;
    padding: 15px;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
