/* line 1, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/base/_base.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/base/_base.scss */
body {
  margin: 0;
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  letter-spacing: .4px;
  color: #666;
}

/* line 14, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/base/_base.scss */
a:link {
  text-decoration: none;
}

/* line 18, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/base/_base.scss */
.sign-up {
  background-color: #ddd;
}

/* line 21, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/base/_base.scss */
.footer {
  background-color: #333645;
}

/* line 28, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/base/_base.scss */
ul {
  list-style-type: none;
}

/* line 31, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/base/_base.scss */
.btn {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  border: none;
}

/* line 42, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/base/_base.scss */
label.required:after {
  content: " *";
  color: #d24d57;
}

/* line 46, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/base/_base.scss */
p {
  font-size: 14px;
}

/* line 49, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/base/_base.scss */
.btn-h {
  color: #fff;
  background-color: #2ecc71;
  border-color: #2ecc71;
}

/* line 54, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/base/_base.scss */
.btn-software {
  color: #fff;
  background-color: #67809f;
  border-color: #67809f;
}

/* line 59, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/base/_base.scss */
.btn-google {
  background-color: #4387f6;
  margin-right: 8px;
  border-radius: 6px;
  padding: 10px 30px;
  font-size: 20px;
  color: #fff;
}

/* line 67, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/base/_base.scss */
.btn-trustpilot {
  background-color: #00b67b;
  margin-right: 8px;
  border-radius: 6px;
  padding: 10px 30px;
  font-size: 20px;
  color: #fff;
}

/* line 76, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/base/_base.scss */
.btn-primary {
  background-color: #272936;
  margin-right: 8px;
  border-radius: 6px;
  padding: 10px 30px;
  font-size: 20px;
  color: #fff;
}

/* line 1, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_footer.scss */
.f--container {
  color: #fff;
  padding: 30px 0 30px 0;
  margin-left: 10vw;
  margin-right: 10vw;
}

/* line 8, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_footer.scss */
.f--container a {
  color: #fff;
  list-style-type: none;
}

/* line 12, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_footer.scss */
.f--container ul {
  list-style-type: none;
}

/* line 16, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_footer.scss */
.footer--top, .services, .offices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 16px;
}

/* line 21, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_footer.scss */
.footer--top .service, .footer--top .office, .services .service, .services .office, .offices .service, .offices .office {
  width: 225px;
  margin-bottom: 30px;
}

/* line 24, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_footer.scss */
.footer--top .service ul, .footer--top .office ul, .services .service ul, .services .office ul, .offices .service ul, .offices .office ul {
  margin: 0;
  padding: 0;
}

/* line 30, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_footer.scss */
.footer--bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #888;
  padding-top: 10px;
  font-size: 13px;
}

/* line 37, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_footer.scss */
.footer--bottom .license {
  display: flex;
  justify-content: space-between;
}

/* line 40, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_footer.scss */
.footer--bottom .license ul {
  margin: 0;
  padding-left: 10px;
}

/* line 45, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_footer.scss */
.footer--bottom .social--media {
  display: flex;
}

/* line 47, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_footer.scss */
.footer--bottom .social--media a {
  padding: 5px 8px 8px;
}

/* line 1, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_header.scss */
.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px 0;
  height: 26vh;
}

/* line 8, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_header.scss */
.header .header-top {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

/* line 12, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_header.scss */
.header .header-top img {
  max-width: 100%;
  height: auto;
}

/* line 4, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_main.scss */
.container-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* line 11, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_main.scss */
.service-block-3, .service-block-4 {
  width: 90vw;
  margin-top: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  height: 313px;
}

/* line 25, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_main.scss */
.welcome {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  background-color: #333645;
  color: #FFFFFF;
  padding: 25px 15px 25px 15px;
}

/* line 33, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_main.scss */
.welcome .w-block {
  max-width: 100%;
  height: auto;
}

/* line 42, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_main.scss */
.partners-slideshow {
  padding: 50px 0 50px 0;
}

/* line 45, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_main.scss */
.p-slider {
  display: flex;
  flex-direction: row;
}

/* line 53, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_main.scss */
.news-articles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 59, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_main.scss */
.news-articles .news-block {
  margin-top: 30px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* line 64, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_main.scss */
.news-articles .news-block .news-img {
  width: 100%;
  height: auto;
}

/* line 68, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_main.scss */
.news-articles .news-block .news-block-b {
  margin-left: 20px;
  margin-right: 20px;
}

/* line 73, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_main.scss */
.news-articles .news-block .user {
  display: flex;
  margin-top: 30px;
  border-top: 1px solid #ccc;
}

/* line 77, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_main.scss */
.news-articles .news-block .user .avatar {
  margin-top: 15px;
  width: 47px;
  height: 47px;
}

/* line 82, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_main.scss */
.news-articles .news-block .user .details {
  line-height: 12px;
  padding: 0 15px 0 15px;
}

/* line 95, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_main.scss */
.sign-up {
  padding: 50px 15px;
}

/* line 97, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_main.scss */
.sign-up .signup-input {
  font-weight: 600;
  color: #666;
}

/* line 102, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_main.scss */
.sign-up .signup-tick {
  display: inline-flex;
}

/* line 106, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_main.scss */
.sign-up input[type="checkbox"] {
  transform: scale(2.5);
  margin-right: 20px;
}

/* line 111, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_main.scss */
.sign-up .form-control {
  display: block;
  width: 100%;
  height: 47px;
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  padding: 5px 15px;
}

/* line 121, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_main.scss */
.sign-up .sub-button {
  color: #fff;
  background-color: #333645;
  border-color: #333645;
  text-transform: uppercase;
  font-size: 1rem;
  text-align: center;
  line-height: 35px;
  border-radius: 3px;
}

/* line 1, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_banner.scss */
.banner {
  display: flex;
  flex-wrap: wrap;
}

/* line 6, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_banner.scss */
.banner .banner-img {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

/* line 10, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_banner.scss */
.banner .banner-img img {
  width: 100%;
  height: 80vh;
  align-items: center;
  object-fit: cover;
  filter: brightness(50%);
}

/* line 20, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_banner.scss */
.txt {
  position: absolute;
  z-index: 1;
  width: 100vw;
  top: 30%;
}

/* line 26, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_banner.scss */
.txt h1 {
  color: white;
  text-align: center;
  font-size: 2em;
}

/* line 32, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_banner.scss */
.txt p {
  color: white;
  text-align: center;
  font-size: 1em;
}

/* line 37, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_banner.scss */
.txt .btn {
  border-radius: 3%;
  background-color: #d64541;
  color: white;
  line-height: 35px;
  text-transform: uppercase;
  padding: 10px 20px 10px 20px;
}

/* line 45, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_banner.scss */
.txt .btn-web {
  color: #fff;
  background-color: #926fb1;
  border-color: #926fb1;
  line-height: 50px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
  /* line 3, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_mediaq576.scss */
  .clients-list, .news-block-h {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* line 3, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_mediaq600.scss */
  .clients-list {
    display: none;
  }
  /* line 6, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_mediaq600.scss */
  .news-block-h {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* line 3, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_mediaq768.scss */
  .clients-list {
    display: flex;
    justify-content: center;
  }
  /* line 6, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_mediaq768.scss */
  .clients-list img {
    width: 100%;
    height: auto;
    padding: 5px;
  }
  /* line 12, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_mediaq768.scss */
  .news-articles {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  /* line 16, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_mediaq768.scss */
  .news-articles .news-block {
    width: 45%;
    margin: 15px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* line 3, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_mediaq992.scss */
  .clients-list {
    display: flex;
    justify-content: center;
  }
  /* line 6, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_mediaq992.scss */
  .clients-list img {
    width: 100%;
    height: auto;
    padding: 5px;
  }
  /* line 12, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_mediaq992.scss */
  .welcome {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  /* line 17, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_mediaq992.scss */
  .welcome .w-block {
    max-width: 40vw;
    padding: 25px;
  }
  /* line 22, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_mediaq992.scss */
  .signup-input {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  /* line 27, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_mediaq992.scss */
  .signup-input .s-input {
    width: 45vw;
    padding: 5px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* line 3, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_mediaq1200.scss */
  .clients-list {
    display: flex;
    justify-content: center;
  }
  /* line 6, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_mediaq1200.scss */
  .clients-list img {
    width: 100%;
    height: auto;
    padding: 5px;
  }
  /* line 12, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_mediaq1200.scss */
  .welcome {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  /* line 17, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_mediaq1200.scss */
  .welcome .w-block {
    max-width: 40vw;
    padding: 50px;
  }
  /* line 22, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_mediaq1200.scss */
  .service-block-3 {
    width: 30vw;
    margin-top: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
  }
  /* line 30, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_mediaq1200.scss */
  .service-block-4 {
    width: 20vw;
    margin-top: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
  }
  /* line 38, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_mediaq1200.scss */
  .news-articles {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  /* line 42, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_mediaq1200.scss */
  .news-articles .news-block {
    width: 30%;
    margin: 15px;
  }
  /* line 46, ../../../Users/ekonc/Documents/GitHub/htmlcss/scss/modules/_mediaq1200.scss */
  .news-articles .news-block-h {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */