//1.Header
//2.Banner
//3.Services
//4.Partners
//5.Wellcome
//6.Latest News
//7.Newsletter
//8.Footer
*{
  box-sizing: border-box;
}

////////////////////////////////////////////////
// 1. header
///////////////////////////////////////////////

////////////////////////////////////////////////
// 2. Banner-slideshow
///////////////////////////////////////////////

////////////////////////////////////////////////
// 3. services
///////////////////////////////////////////////

////////////////////////////////////////////////
// 4. partners-slideshow
///////////////////////////////////////////////

////////////////////////////////////////////////
// 5. Welcome section
///////////////////////////////////////////////

////////////////////////////////////////////////
// 6. Latest News
///////////////////////////////////////////////

////////////////////////////////////////////////
// 7. Newsletter
///////////////////////////////////////////////
.sign-up{
  padding: 50px 15px;
  background-color: $newsletter-color;
}

  .signup-input{
    font-weight: 600;
    color: #666;
  }

  .signup-tick{
    display: inline-flex;
    a{
      color: #666;
      text-decoration: underline;
      text-transform: capitalize;
    }

  }
  input[type="checkbox"] {

    transform: scale(2.5);
    margin-right: 20px;


  }
  .form-control{
    display: block;
    width: 100%;
    height: 47px;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    padding: 5px 15px;

  }

  .sub-button{
    color: #fff;
    background-color: #333645;
    border-color: #333645;
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
    line-height: 35px;
    border-radius: 3px;
  }

////////////////////////////////////////////////
// 8. Footer
///////////////////////////////////////////////

body{
  margin: 0;
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  letter-spacing: .4px;
  color: #666;
  position: relative;
}

a{
  color: $w-color;
  text-transform: uppercase;
}
a:link{
  text-decoration: none;

}



.footer{
  background-color: #333645;
}

ul {
  list-style-type: none;
  padding: 0;

}
small{
  font-size: 0.625rem;
}
.btn{
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  border: none;

}

label.required:after{
  content: " *";
  color: #d24d57;
}
p{
  font-size: 14px;
}
.btn-h{
    color: #fff;
    background-color: #2ecc71;
    border-color: #2ecc71;
}
.btn-software{
    color: #fff;
    background-color: #67809f;
    border-color: #67809f;
}
.btn-google{
    display: inline-block;
    margin-bottom: 20px;
    background-color: #4387f6;
    border-radius: 6px;
    font-size: 20px;
    color: #fff;
}
.btn-trustpilot{
  background-color: #00b67b;
  margin-right: 8px;
  border-radius: 6px;
  padding: 10px 30px;
  font-size: 20px;
  color: #fff;

}
.btn-primary{
    background-color: #272936;
    margin-right: 8px;
    border-radius: 6px;
    padding: 10px 30px;
    font-size: 20px;
    color: #fff;
}
.service-block-3:hover{
  transform: translateY(-20px);
  transition: .5s ease;
}
.service-block-4:hover{
  transform: translateY(-20px);
  transition: .5s ease;
}
.main-nav, .hide-sm, .header-search-md{
  display: none;
}
.btn-it{
  background-color: $support-color;
  color: $w-color;
  height: 56px;
  line-height: 46px;
  margin: 10px 10px;
}
.btn-support-h{
  background-color: $contact-color;
  color: $w-color;
  height: 56px;
  line-height: 46px;
  margin: 10px 10px;
}
//hide search input sm/md/lr screen
.s-input-md{
  display: none;
}

///////////////////////////////////////
//testing
/////////
.soft-icon{
  border: 1px solid red;
  border-radius: 50%;
  padding: 10px;
  background-color: inherit;
  i{color:$w-color;}
}
