//colours
$main-nav-color: #333645;
$w-color: #ffffff;
$b-color: #000000;
$software-color: #67809f;
$support-color: #4183d7;
$maraketing-color: #2ecc71;
$telecom-color: #d64541;
$design-color: #926fb1;
$security-color: #f62459;
$course-color: #ce4125;
$contact-color: #999aa2;
