.banner{
  display: flex;
  flex-wrap: wrap;


  .banner-img{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    img{
      width: 100%;
      height: 80vh;
      align-items: center;
      object-fit: cover;
      filter: brightness(50%);

    }
  }
}
.txt {
  position: absolute;
  z-index: 1;
  width: 100vw;
  top: 10vh;

  h1{
    color: white;
    text-align: center;
    font-size: 2em;

  }
  p{
    color: white;
    text-align: center;
    font-size: 1em;
  }
  .btn{
    border-radius: 3%;
    background-color: #d64541;
    color: white;
    line-height: 35px;
    text-transform: uppercase;
    padding: 10px 20px 10px 20px;
  }
  .btn-web{
      color: #fff;
      background-color: #926fb1;
      border-color: #926fb1;
      line-height: 50px;
  }
}
.tns-nav{
  position: absolute;
  width: 100%;
  z-index: 99;
  text-align: center;
  top: 90vh;


}
.tns-nav-active{
  transform: scale(1.5);

}
.tns-nav button{
  height: 13px;
  width: 13px;
  border-radius: 50%;
  border: none;
  margin-left: 5px;
  margin-right: 5px;
  background-color: rgba(239, 245, 245, 0.9);
}
