.f--container{
  color: #fff;
  padding: 30px 0 30px 0;
  margin-left: 10vw;
  margin-right: 10vw;


  a{
    color: #fff;
    list-style-type: none;
  }
  ul{
    list-style-type: none;
  }
}
.footer--top, .services, .offices{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 16px;
  .service, .office{
    width: 225px;
    margin-bottom: 30px;
    ul{
      margin: 0;
      padding: 0;
    }
  }
}
.footer--bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #888;
  padding-top: 10px;
  font-size: 13px;
  .license{
    display: flex;
    justify-content: space-between;
    ul{
      margin: 0;
      padding-left: 10px;
    }
  }
  .social--media{
    display: flex;
    a{
      padding: 5px 8px 8px;
    }
  }
}
