.header{
  display: flex;
  flex-direction: column;
  margin: 10px 0 25px;
  

  height: $header-height;

  .header-top{
    display: flex;
    padding: 0 15px;
    align-items: center;
    img{
      max-width: 100%;
      height: auto;

    }
    .action{
      display: inline-flex;
      .b-icon button{
        // margin: 15px;
        padding: 15px;
      }
    }
  }
//search

    .search, .search-md{
      display: flex;
      justify-content: space-between;
      border: 2px solid rgba(0,0,0,.2);
      border-radius: 3px;
      margin: 10px 15px;
      font-size: 16px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

      .s-input{
        width: 100%;
        height: 47px;
        padding-left: 15px;
        font-size: 16px;
        border:none;
        outline: none;
        background-color: rgba(0,0,0,.1);
        &::placeholder{
          color: rgba(0, 0, 0, .4);
          font-weight: 500;
        }

        .s-input:focus, .s-input-md:focus{
          outline: none !important;
          border-color: #719ECE;
          box-shadow: 0 0 10px #719ECE;
        }
      }
      .s-button{
        border: none;
        background-color: rgba(0, 0, 0, .1);
        cursor: pointer;
        color: $main-nav-color;
      }
      .s-button-md{
        background-color: #999aa2;
        border: none;
        padding: 20px;
        color: #fff;
        cursor: pointer;
      }

    }
}

//main menu navigation

span, small{
  display: block;
  text-align: center;
}
//set visibility submenu start
.nav-btn .sub-menu-banner{
  display: none;
}
.nav-btn:hover .sub-menu-banner{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  list-style: none;
  background-color: inherit;
  padding: 20px 0;
  width: 100%;
  left: 0;
  z-index: 1;
  h1{
    color: $w-color;
    width: 100%;
    text-align: center;
    margin-left: 30px;
  }
  ul>li{
    padding: 0 10px;
    margin-top: 15px;
    margin-left: 30px;
    width: 30%;
    height: auto;
    text-align: left;

  }
}

//set visibility submenu end
