/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .service-block-3{
    width: 32%;
  }
  .hide-support{
    display: none;
  }
  .side-nav-list1{
    display: none;
  }
  #sideNav .side-nav-list2 {
    margin-top: 0;
}
  .side-nav-open{
    width: 350px !important;
  }
  .side-nav-main{
    left: -350px;
    transition: 5.5s;
  }
  .clients-list{
    display: flex;
    justify-content: center;
    img{
      width: 100%;
      height: auto;
      padding: 5px;
    }
  }
  .welcome-container{
    flex-direction: row !important;
    .w-block{
      width: 50%;
    }
  }
  .signup-input{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  .s-input{
    width: 50%;
    padding: 5px;
  }
}
  .main-nav{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: $main-nav-color;
    margin-top: 10px;
    z-index: 100;
    .nav-btn{
      text-align: center;
      padding: 0 20px;
    }
    .nav-container{
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      background-color: $main-nav-color;

      z-index: 100;
      .nav-btn{
        text-align: center;
        padding: 0 20px;
      }
    }
  }
  .hide-sm{
    display: block;
  }
  .s-input-md{
    display: none;
  }
  .width-containers{
    width: 970px;
  }
  .txt{
    top: 15vh;
    h1, p{
      text-align: left;
    }
    h1{
      font-size: 4rem;
    }
  }
  .banner{

    .banner-img{
      height: 700px;
      // img{
      //
      //   height: 75vh;
      //
      //
      // }
    }
  }
  .cookies-container{
    width: 970px;

  }
  .buttons{
    float: right;
  }
}
