/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .clients-list{
    display: flex;
    justify-content: center;
    img{
      width: 100%;
      height: auto;
      padding: 5px;
    }
  }
  .sign-up-inner{
    margin-left: 2em;
    margin-right: 2em;
  }
  .news-articles{
    display: flex;
    flex-direction: row;
    justify-content: center;
    .news-block{
      width: 45%;
      margin: 15px;
      }
  }
  .n-view-all{
    display: none;
  }
  .n-view-all-top{
    display: block;
  }
  .l-news-links{
    display: flex;
    justify-content: space-between;
    margin-right: 5vw;
  }
  .header-top{
    justify-content: center;
    .logo{
      padding-right: 50px;
    }
  }
  .header-search-sm, .phone{
    display: none;
  }
 .header-search-md, .s-input-md{
   display: block;
 }

 .container-services{
   padding-left: 2em;
   padding-right: 2em;
   justify-content: space-between;
 }
 .service-block-4{
   width: 45vw;

 }
 .width-containers{

   width: 750px;
   margin-left: auto;
   margin-right: auto;
 }
}



@media only screen and (max-width: 767px){
  .header-top{
    justify-content: space-between;
  }
  .service-block-4{
    width: 90vw;
  }
}
