/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header{
    height: 110px;
    .header-top{

      .action{
        .b-icon{
          margin: auto 0;
        }
      }
      .header-search-md{

        input{
          border: none;
        }

      }
    }
  }

  .header-search-sm, .phone{
    display: none;
  }
 .header-search-md, .s-input-md{
   display: block;

 }
 
  .clients-list{
    display: flex;
    justify-content: center;
    img{
      width: 100%;
      height: auto;
      padding: 5px;
    }
  }
  .sign-up-inner{
    margin-left: 2em;
    margin-right: 2em;
  }
  .news-articles{
    display: flex;
    flex-direction: row;
    justify-content: center;
    .news-block{
      width: 45%;
      margin: 15px;
      }
  }
  .n-view-all{
    display: none;
  }
  .n-view-all-top{
    display: block;
  }
  .l-news-links{
    display: flex;
    justify-content: space-between;
    margin-right: 5vw;
  }



 .container-services{
   padding-left: 2em;
   padding-right: 2em;
   justify-content: space-between;
 }
 .service-block-4{
   width: 45vw;
 }
 .width-containers{
   width: 750px;
   margin: 0 auto;
 }
}



// @media only screen and (max-width: 767px){
//   .header-top{
//     justify-content: space-between;
//   }
//   .service-block-4{
//     width: 90vw;
//   }
// }
