/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .service-block-3{
    width: 30vw;
  }
  .clients-list{
    display: flex;
    justify-content: center;
    img{
      width: 100%;
      height: auto;
      padding: 5px;
    }
  }
  .welcome{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    .w-block{
      max-width: 45vw;
      padding: 5px;
      

    }

  }
  .signup-input{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  .s-input{
    width: 45vw;
    padding: 5px;
  }


}

  .main-nav{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: $main-nav-color;
    margin-top: 10px;
    z-index: 100;
    .nav-btn{
      text-align: center;
      padding: 0 20px;
    }
  }
  .hide-sm{
    display: block;
  }
  .s-input-md{
    display: none;
  }



}
